/*******************************
            Home Page
*******************************/
.home{
  background-color: grey;
  height: 768px;
  position: absolute;
  background-image: url("file:///C:/Users/navarrra/Documents/GitHub/Beer-N-Munchies/BeerNMunchies pics/homeback.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -15em;
}

.backgroundoverlay{
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  margin-left: -1em;
}

.midtitle{
  color: rgba(255, 255, 255, .9);
  margin-top: 70%;
  font-size: 60px;
  font-family: adobe arabic;
  font-style: italic;
  margin-right: .3em;
}

/******************************
          top bar
******************************/

.toptitle{
  position: absolute;
  font: 27px segoe script;
  color:white;
  margin: .4em .5em 0 0;
  right:6px;
}

.menuicon{
  position: fixed;
  width: 2.7em;
  height: 2.7em;
  margin: .7em .5em;
  background-image: url("file:///C:/Users/navarrra/Documents/GitHub/Beer-N-Munchies/BeerNMunchies pics/menu.png");
  background-size: contain;
}

.lgviewmenu{
  position: fixed;
  right:5em;
  margin-top: 1.5em;
  display: none;
}

.item{
  font-size: 27px;
  margin-left: 1em;
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .home{
    background-position: -15em;
    height: 1024px;
  }

  .toptitle{
    font-size:35px;
  }

  .midtitle{
    font-size: 80px;
    margin-top: 5em;
    margin-right: 1em;
  }
  .menuicon{
    display:block;
  }


}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .menuicon{
    display:none;
  }

  .toptitle{
    left:0;
    margin-left: 1em;
  }

  .home{
    background-position: 0;
  }

  .lgviewmenu{
    display: block;
  }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .toptitle{
    margin-top: .2em;
    font-size: 45px;
  }

  .midtitle{
    margin-right: 2.5em;
    margin-top: 3em;
    font-size: 100px;
  }
}
